---
import { Icon } from 'astro-icon/components';
import ContentSection from '~/components/content-section.astro';
---

<ContentSection
	title="Why Should You Learn Cyber Security?"
	id="intro">
	<Fragment slot="lead">
		700++ Cyber Attacks Happen Throughout The Year, Indonesia Has Cyber Security
		Emergency, What Should We Do?
	</Fragment>
	<div class="grid grid-cols-1 gap-2">
		<a
			href="#Product"
			class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 hover:text-[#f5ba20]">
			<Icon
				name="mdi:file-document-edit-outline"
				class="size-8"
			/>
			<span>Learn More</span>
		</a>
		<div class="grid grid-cols-2 gap-2 max-md:grid-cols-1">
			<a
				href="https://discord.com/invite/4NhxAkph"
				target="_blank"
				class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 hover:text-[#f5ba20]">
				<Icon
					name="mdi:telescope"
					class="size-8"
					target="_blank"
				/>
				<span>Join Our Community</span>
			</a>
			<a
				href="https://www.instagram.com/cyberhouse.id?igsh=NDZxa3hlcjQxY3ht"
				class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 hover:text-[#f5ba20]"
				target="_blank">
				<Icon
					name="mdi:rocket"
					class="size-8"
				/>
				<span>Get More Information</span>
			</a>
		</div>
	</div>
</ContentSection>
