---
import ContentSection from '~/components/content-section.astro';

---

<ContentSection
	title="Kelas Kami"
	id="Product">
	<div class="container mx-auto w-[81%] px-4 py-8 max-sm:w-[100%]">
		<div class="rounded-t-lg bg-[#f5ba20] p-4">
			<h2 class="font-bold text-white text-lg">Beginner - Profesional</h2>
		</div>
		<div class="rounded-b-lg bg-orange-100 p-6 ">
				<div class="mb-4 flex items-center">
					<span
						class="rounded-full bg-[#f5ba20] px-2.5 py-0.5 font-semibold text-white text-sm"
						>Coming Soon 🔥</span
					>
				</div>
				<h1 class="mb-2 font-bold text-black text-2xl">
					Mastering Cyber Scurity : Zero To Hero
				</h1>
				<p class="mt-[1rem] font-semibold text-[#f5ba20]">
					Live Class - Class start: <span class="text-black">Coming Soon</span>
				</p>
				<div class="mb-[1rem] mt-[1rem] w-[90%] border-[1px] border-black">
				</div>
				<div class="mb-[1rem]">
					<a
						href="#"
						class="mb-[1rem] text-[#f5ba20] underline text-sm/3"
						>Pelajari Lebih Lanjut ></a
					>
				</div>
				<div class="mb-4 items-center">
					<div class="mb-[1rem]">
							<span class="text-red-500 line-through">Rp 10.000.000</span>
					</div>
					<span class="py-[1rem] font-bold text-black text-2xl"
						>Rp 5.000.000*</span
					>
				</div>
				<button class="rounded bg-[#f5ba20] px-4 py-2 font-bold text-white"
					>Daftar Sekarang</button
				>
</ContentSection>
