---
import ContentSection from '~/components/content-section.astro';
---

<ContentSection
	title="Our Class"
	id="Product">
	<Fragment slot="lead">
		The Right Time To Upgrade Your Skills And Build A Cyber Security Career With
		A Salary Of Tens Of Millions
	</Fragment>
	<div class="container mx-auto w-[81%] px-4 py-8 max-sm:w-[100%]">
		<div class="rounded-t-lg bg-[#f5ba20] p-4">
			<h2 class="font-bold text-white text-lg">Beginner - Profesional</h2>
		</div>
		<div class="rounded-b-lg bg-orange-100 p-6">
			<div class="mb-4 flex items-center">
				<span
					class="rounded-full bg-[#f5ba20] px-2.5 py-0.5 font-semibold text-white text-sm"
					>Coming Soon 🔥</span
				>
			</div>
			<h1 class="mb-2 font-bold text-black text-2xl">
				Mastering Cyber Security : Zero To Hero
			</h1>
			<p class="mt-[1rem] font-semibold text-[#f5ba20]">
				Live Class - Class start: <span class="text-black">Coming Soon</span>
			</p>
			<div class="mb-[1rem] mt-[1rem] w-[90%] border-[1px] border-black"></div>
			<div class="mb-[1rem]">
				<a
					href="#"
					class="mb-[1rem] text-[#f5ba20] underline text-sm/3"
					>Course Detail ></a
				>
			</div>
			<div class="mb-4 items-center">
				<div class="mb-[1rem] flex gap-5">
					<span class="text-red-500 line-through text-xl max-sm:text-sm">Rp 10.000.000*</span>
					<div class="mt-[-5px] rounded-[5px] bg-red-500 p-1">
						<center>
							<h1>50% OFF</h1>
						</center>
					</div>
				</div>
				<span class="py-[1rem] font-bold text-black text-2xl"
					>Rp 5.000.000*</span
				>
			</div>
			<button
				class="rounded border-2 border-[#f5ba20] bg-[#f5ba20] px-4 py-2 font-bold text-white transition-all duration-200 hover:bg-orange-100 hover:text-[#f5ba20]"
				>Register Now</button
			>
		</div>
	</div></ContentSection
>
